* {
	align-content: center;
	font-family: Bree Serif, serif;
}

h1 {
	margin: 0 0 0 0;
	font:  4em georgia, sans-serif;
	color: #F5BD4D;
	/*background-color: black;*/
	text-align: center;
}

/* Future CSS for logo img */
/*img.GFHS-Logo {
	width: 100;
	height: 100;
	background-color: black;
}*/

header section {
  max-width: 80%;
  float: left;
  padding: 0 0 .2em 1em;
}

nav {
  padding: 0.1em;
}

nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

nav:hover ul {
  display: block;
}

nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}
/* === LINK STYLES === */

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

/* === ICON FONT === */

.icon-menu {
  font-size: 3em;
  float: right;
}

/* === MEDIA QUERY === */

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  nav {
    padding: .2em .2em .2em 2em;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: inline;
    border-bottom: none;
  }

  nav ul li:hover a {
    color: #29506D;
  }
}
